html {
    width: 100%;
    height: 100%;
    font-size: 62.5%;
}

body {
    width: 100%;
    background: url(../img/main-page/background/img_bg_375.png) center center no-repeat fixed;
    background-size: cover;
}
@media(min-width: 576px){
    body {
        background: url(../img/main-page/background/img_bg_768.png) center center no-repeat fixed;
        background-size: cover;
    }
}
@media(min-width: 992px){
    body {
        background: url(../img/main-page/background/img_bg_1280.png) center center no-repeat fixed;
        background-size: cover;
    }
}

a {
    text-decoration: none;
}

p {
    margin: 0%;
    -webkit-text-stroke: 0.15px rgba(49, 39, 39, 0.5);
}

ul {
    list-style: none;
    padding: 0%;
}

.width1440 {
    max-width: 1440px;
    margin: auto;
}

/* header start here */

header {
    width: 100%;
    background-color: #000000;
    height: 36px;
    position: fixed;
    z-index: 100;
}
@media(min-width: 576px) {
    header {
        height: 48px;
    }
}

.home-btn {
    position: absolute;
    width: 30px;
    top: 3px;
    left: 2%;
}
@media(min-width: 576px){
    .home-btn {
        width: 40px;
        top: 4px;
    }
}

.home-btn a {
    display: block;
    height: 100%;
}

.home-btn img{
    width: 100%;
}

.logo {
    width:fit-content; width:-webkit-fit-content; width:-moz-fit-content;
    height: 100%;
    margin: auto;
    position: relative;
    display: flex;
    align-items: center;
}

.logo a {
    display: block;
    height: 100%;
    margin-right: 5px;
}

.logo-img {
    float: left;
    height: 100%;
    transform: rotate(-90deg);
}

.logo p {
    font-size: 1.2m;
    font-family: 'Kodchasan', sans-serif;
    color: #ffffff;
}
@media(min-width: 576px){
    .logo p{
        font-size: 1.8em;
    }
}

.visual-img {
    width: 100%;
    position: relative;
}

/* download button start here */

.download-box {
    position: absolute;
    width: 77%;
    top: 25%;
    left: 11.5%;
    padding-top: 24%;
    background: url(../img/img_dl_bg_375_2x.png);
    background-size: cover;
    background-color: rgba(121,142,218,1);
    box-shadow:6px 6px 6px  rgba(60, 97, 226, 0.4);
    border: solid 3px #ffffff;
    border-radius: 20px;
    transition: all 0.2s ease-in-out;
}

.download-box:hover {
    background-color: rgba(20,39,107,1);
}

.dl-link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.dl-title {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    left: 0;
    font-family: 'Kodchasan', sans-serif;
    font-size: 2.4em;
    color: #ffffff;
    transform: translateY(-50%);
}

.dl-text {
    position: absolute;
    font-family: 'Kodchasan', sans-serif;
    font-size: 0.9em;
    color: #ffffff;
    width: 100%;
    text-align: center;
    bottom: 5%;
}

@media(min-width: 576px){
    .download-box {
        background: url(../img/img_dl_bg_768_2x.png);
        background-color: rgba(121,142,218,1);
        background-size: cover;
        width: 70%;
        padding-top: 21.5%;
        left: 15%;
    }

    .dl-title {
        font-size: 3.6em;
    }

    .dl-text {
        font-size: 1.8em;
    }
}

@media(min-width: 992px){
    .download-box {
        background: url(../img/img_dl_bg_1280_2x.png);
        background-color: rgba(121,142,218,1);
        background-size: cover;
        width: 45%;
        max-width: 645px;
        padding-top: 14%;
        left: 27.5%;
    }

    .dl-title {
        font-size: 4.2em;
    }

    .dl-text {
        font-size: 2.0em;
    }
}

/* sub start here */

.subjects {
    margin-top: 40px;
}

.sub-content {
    width: 100%;
    margin: auto;
}
@media(min-width: 576px){
    .sub-content {
        display: flex;
        justify-content: space-around;
        width: 80%;
    }
}
@media(min-width: 992px){
    .sub-content {
        width: 70%;
    }
}

.sub-item {
    height: 40px;
    width: 90%;
    margin: 6px auto;
    display: flex;
    box-shadow:2px 2px 2px  rgba(60, 97, 226, 0.4);
    border: solid 3px rgba(60, 97, 226, 0.3);
    border-radius: 5px;
    position: relative; 
    -webkit-transition: all 0.2s ease-in-out;
    transition:  0.2s ease-in-out;
}
@media(min-width: 576px){
    .sub-item {
        width: 20%;
        max-width: 206px;
        padding-top: 20%;
        margin: auto;
    }
}
@media(min-width: 992px){
    .sub-item {
        width: 20%;
        max-width: 270px;
        padding-top: 20%;
        margin: auto;
    }
}
.sub-item:hover {
    transform: translate(-0.25em, -0.25em);
    box-shadow:5px 5px 5px  rgba(60, 97, 226, 0.4); 
}

.sub-basic {
    background: url(../img/main-page/background/img_sub_basic_375.png);
    background-size: cover;
}
@media(min-width: 576px){
    .sub-basic {
        background: url(../img/main-page/background/img_sub_basic_768.png);
        background-size: cover;
    }
}
@media(min-width: 992px){
    .sub-basic {
        background: url(../img/main-page/background/img_sub_basic_1280.png);
        background-size: cover;
    }
}

.sub-tool {
    background: url(../img/main-page/background/img_sub_tool_375.png);
    background-size: cover;
}
@media(min-width: 576px){
    .sub-tool {
        background: url(../img/main-page/background/img_sub_tool_768.png);
        background-size: cover;
    }
}
@media(min-width: 992px){
    .sub-tool {
        background: url(../img/main-page/background/img_sub_tool_1280.png);
        background-size: cover;
    }
}

.sub-faq {
    -webkit-filter: grayscale(0.8);
    background: url(../img/main-page/background/img_sub_faq_375.png);
    background-size: cover;
}
@media(min-width: 576px){
    .sub-faq {
        background: url(../img/main-page/background/img_sub_faq_768.png);
        background-size: cover;
    }
}
@media(min-width: 992px){
    .sub-faq {
        background: url(../img/main-page/background/img_sub_faq_1280.png);
        background-size: cover;
    }
}

.sub-link {
    display: flex;
    margin: auto;
    width: 350px;
}
@media(min-width: 576px){
    .sub-link {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
}

.sub-text {
    color: #ffffff;
    -webkit-text-stroke: 0.1px rgba(49, 39, 39, 0.5);
    font-size: 1.3em;
    width: fit-content;
    text-align: center;
    margin: auto;
    font-family: 'Ledger', serif;
}
@media(min-width: 576px){
    .sub-text {
        font-size: 1.3em;
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
@media(min-width: 992px){
    .sub-text {
        font-size: 1.5em;
    }
}

.sub-link::before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

/* main start here */

.main {
    margin-top: 50px;
}

.block {
    position: relative;
    width: 100%;
    margin-bottom: 105px;
}

.blockleft {
    background: url(../img/main-page/background/img_blockbg_left_375.png) center center no-repeat;
    background-size: cover;
}
@media(min-width: 576px){
    .blockleft {
        background: url(../img/main-page/background/img_blockbg_left_768.png)center center no-repeat;
        background-size: cover;
    }
}
@media(min-width: 992px){
    .blockleft {
        background: url(../img/main-page/background/img_blockbg_left_1280.png)center center no-repeat;
        background-size: cover;
    }
}

.blockright {
    background: url(../img/main-page/background/img_blockbg_right_375.png) center center no-repeat;
    background-size: cover;
}
@media(min-width: 576px){
    .blockright {
        background: url(../img/main-page/background/img_blockbg_right_768.png)center center no-repeat;
        background-size: cover;
    }
}
@media(min-width: 992px){
    .blockright {
        background: url(../img/main-page/background/img_blockbg_right_1280.png)center center no-repeat;
        background-size: cover;
    }
}

.article {
    min-height: 460px;
    position: relative;
    z-index: 2;
}
@media(min-width: 576px){
    .article {
        width: 70%;
    }
    .left-ar {
        margin: auto auto auto 0;
    }
    .right-ar {
        margin: auto 0 auto auto;
    }
}
@media(min-width: 992px){
    .article {
        width: 60%;
    }
}

.title {
    font-family: 'Kodchasan', sans-serif;
    font-size: 3.0em;
    text-align: center;
    color: #ffffff;
    padding-top: 10px;
}
@media(min-width: 576px){
    .title {
        padding-top: 15px
    }
}
@media(min-width: 992px){
    .title {
        padding-top: 20px
    }
}

.block-link {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
}

.text-box {
    width: 83%;
    margin: 30px auto 125px;
    background-color: rgba(60, 97, 226, 0.4);
    box-shadow: 4px 4px 4px rgba(20,39,107,0.4);
    min-height: 205px;
    border-radius: 5px;
    display: flex;
    transition: all 0.2s ease-in-out;
    position: relative;
}
@media(min-width: 576px){
    .text-box {
        min-height: 300px;
        margin: 3% auto;
    }
}
@media(min-width: 992px){
    .text-box {
        min-height: 300px;
        margin: 3% auto;
    }
}

.text-box:hover {
    background-color: rgba(20,39,107,0.7);
    
}

.text-box::before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.text {
    width: 97.5%;
    font-family: 'Kodchasan', sans-serif;
    font-size: 1.4em;
    color: #ffffff;
    margin: auto;
}
@media(min-width: 576px){
    .text {
        width: 95%;
        font-size: 1.6em;
        margin: auto;
    }
}
@media(min-width: 992px){
    .text {
        width: 90%;
        font-size: 1.8em;
        margin: auto;
    }
}

.see-more {
    width: fit-content;
    position: absolute;
    bottom: 0;
    z-index: 3;
}

.see-more p {
    font-family: 'Kodchasan', sans-serif;
    font-size: 20px;
    color: #ffffff;
    padding: 18px;
}

.left-sm {
    left: 0;
}

.right-sm {
    right: 0;
}

.char {
    position: absolute;
    bottom: 0;
    z-index: 1;
}

.rightchar {
    right: 0;
}

.leftchar {
    left: 0;
}
@media(min-width: 992px){
    .leftchar {
        left: -8%;
    }
}

.blockfaq {
    -webkit-filter: grayscale(0.8);
}

.coming-soon {
    color: rgba(126,126,126,0.5);
    font-family: 'Kodchasan', sans-serif;
    font-size: 4.4em;
    font-weight: bold;
    -webkit-text-stroke: 0px;
    text-align: center;
    padding-top: 35%;
}
@media(min-width: 576px){
    .coming-soon {
        font-size: 5.0em;
        padding-top: 35%;
    }
}
@media(min-width: 992px){
    .coming-soon {
        font-size: 8.0em;
        padding-top: 21%;
    }
}

/* footer start here */

footer {
    background-color: #000000;
    width: 100%;
    height: 24px;
    display: flex;
}
@media(min-width: 576px) {
    footer {
        height: 48px;
    }
}

footer::before {
    content: "";
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

footer p{
    color: #ffffff;
    font-size: 1.2em;
    width: fit-content;
    text-align: center;
    padding: 0 2%;
    margin: auto 0 auto auto;
    float: right;
    font-family: 'Kodchasan', sans-serif;
}
@media(min-width: 576px){
    footer p {
        font-size: 1.8em;
    }
}

.return-btn {
    position: fixed;
    z-index: 10;
    width: 12%;
    bottom: 24px;
    right: 5%;
    border-radius: 50%;    
    background-color: rgba(51, 74, 160, 0.2);
    display: none;
}
@media(min-width: 576px){
    .return-btn {
        width: 8%;
        bottom: 48px;
        right: 3%;
    }
}
@media(min-width: 992px){
    .return-btn {
        width: 6%;
        max-width: 90px;
        right: 3%;
    }
}

.return-btn img {
    width: 100%;
    opacity: .5;
    cursor: pointer;
    transition: all 0.2s;
}

.return-btn img:hover {
    opacity: 1;
}

/* loading animation */

#loading{
    background:#ffffff;
    width: 100vw;
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    z-index:200;
}
.loader,.loader:after,.loader:before{
    border-radius:50%;
    width:2.5em;
    height:2.5em;
    -webkit-animation:load7 1.8s infinite ease-in-out;
    animation:load7 1.8s infinite ease-in-out;
}
.loader{
    color:#798EDA;
    font-size:10px;
    margin:50vh auto;
    position:relative;
    text-indent:-9999em;
    -webkit-transform:translateZ(0);
    -ms-transform:translateZ(0);
    transform:translateZ(0);
    -webkit-animation-delay:-.16s;
    animation-delay:-.16s
}
.loader:before{
    left:-3.5em;
    -webkit-animation-delay:-.32s;
    animation-delay:-.32s
}
.loader:after{
    left:3.5em
}
.loader:after,.loader:before{
    content:'';
    position:absolute;
    top:0;
}
@-webkit-keyframes load7{
    0%,100%,80%{
        box-shadow:0 2.5em 0 -1.3em
    }
    40%{
        box-shadow:0 2.5em 0 0
    }
}
@keyframes load7{
    0%,100%,80%{
        box-shadow:0 2.5em 0 -1.3em
    }
    40%{
        box-shadow:0 2.5em 0 0
    }
}
